extends layout

block svg
    .svg-paths-container
        svg(xmlns='http://www.w3.org/2000/svg')
            symbol#facebook(viewbox='0 0 29.7 26.6')
                path(d='M28.7 3v21.2c0 1.3-1.1 2.4-2.4 2.4H20V15.8h3.8l.5-3.2H20V10c0-1 .9-1.8 1.8-1.8h1.4V4.9H20c-3.2 0-4.3 1.6-4.3 4.3v3.2h-3.2v3.2h3.2v10.8H5.1c-1.3 0-2.4-1.1-2.4-2.4V3C2.7 1.7 3.8.6 5.1.6h21.2c1.3 0 2.4 1.1 2.4 2.4z')
            symbol#twitter(viewbox='0 0 29.7 24')
                path(d='M28.3 3.4c-.1 0-.3.1-.4.1-.8.2-.9-.1-.3-.7.3-.3.5-.6.7-.9.5-.7.1-1.1-.7-.7l-.9.3c-.8.3-2-.1-2.7-.6-.9-.6-2-.9-3.2-.9-1.7 0-3.1.6-4.2 1.8-1.2 1.2-1.8 2.6-1.8 4.3v.7c0 .4-.6.7-1.5.5-1.7-.3-3.5-.8-5.2-1.7-1.6-.9-3.1-2-4.4-3.3-.6-.6-1.4-.6-1.6.3-.1.5-.2 1-.2 1.6 0 1 .2 2 .7 2.9.2.4.5.8.8 1.2.6.6.5.9-.3.7-.7-.2-1.3-.5-1.3-.5 0 1.5.5 2.7 1.4 3.8.6.7 1.2 1.2 1.9 1.6.8.4 1.1.6.7.7-.3 0-.5.1-.8.1h-.6c-.3 0-.4.6.1 1.4.5.5.9 1 1.5 1.5s1.2.8 1.9 1c.8.2 1 .7.3 1.1-1.8 1.1-3.9 1.7-6.1 1.7h-.7c-.4 0-.1.3.6.7C4.4 23.3 7 24 9.8 24c2.1 0 4.1-.3 6-1 1.9-.7 3.5-1.6 4.8-2.7 1.3-1.1 2.5-2.5 3.4-3.9 1-1.5 1.7-3 2.1-4.7.5-1.6.7-3.2.7-4.9v-.4c0-.2.6-.8 1.2-1.4.3-.3.6-.6.8-.9.6-.6.4-1-.5-.7z')
            symbol#instagram(viewbox='0 0 29.2 29.1')
                path(d='M4.4.4h20.8c2 0 3.6 1.5 3.6 3.6v20.8c0 2.1-1.6 3.6-3.6 3.6H4.4c-2 0-3.6-1.5-3.6-3.6V4C.8 1.8 2.4.4 4.4.4zm16.8 3.1c-.7 0-1.3.6-1.3 1.3v3c0 .7.6 1.3 1.3 1.3h3.2c.7 0 1.3-.6 1.3-1.3v-3c0-.7-.6-1.3-1.3-1.3h-3.2zm4.4 8.7h-2.5c.2.8.4 1.6.4 2.4 0 4.7-3.9 8.4-8.7 8.4-4.8 0-8.7-3.8-8.7-8.4 0-.8.1-1.6.4-2.4H3.9V24c0 .6.5 1.1 1.1 1.1h19.5c.6 0 1.1-.5 1.1-1.1V12.2zM14.8 8.9c-3.1 0-5.6 2.4-5.6 5.4 0 3 2.5 5.4 5.6 5.4 3.1 0 5.6-2.4 5.6-5.4 0-3-2.5-5.4-5.6-5.4z')

block content
    header#top
        .wrapper
            nav
                span
                    a(href="#news") news
                span
                    a(href="/vip") VIP
                span.logo
                span
                    a(href="#showtimes") showtimes
                span
                    a(href="mailto:deweychaffee@gmail.com") contact

    main
        .animated-divider
        .photos
            .photo-banner
                img(src="/images/photos/poster.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/lw-old-lady2-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/band2-fringe-2015.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/didi.jpg", alt="Didi Panache")
                img(src="/images/photos/lw-black-girl-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/lw-finale-fringe-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/makeuptips.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/lw-fringe-2015-ari.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/lw-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/pizza-joint.jpg", alt="Didi Panache")
                img(src="/images/photos/band-fringe-2015.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/lw.jpg", alt="Lady Winifred")
                img(src="/images/photos/didi-in-blue.jpg", alt="Didi Panache")
                img(src="/images/photos/lw-fringe-2015.jpg", alt="Lady Winifred and Didi Show Fringe 2015")
                img(src="/images/photos/lw-yellow.jpg", alt="Lady Winifred")
                img(src="/images/photos/lw-group-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/band3-fringe-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/lw-pink-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/didi-fringe-2015.jpg", alt="Didi Panache")
                img(src="/images/photos/jesus-nyc.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/band4-fringe-2015.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/didi-glamour-shot.jpg", alt="Didi Panache")
                img(src="/images/photos/lw2-fringe-2015-ari.jpg", alt="Didi Panache")
                img(src="/images/photos/wayburn-fringe-2015.jpg", alt="Wayburn")
                img(src="/images/photos/lw-old-lady-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/club.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/didi-in-black.jpg", alt="Didi Panache")
                img(src="/images/photos/lw-old-man-2015.jpg", alt="Lady Winifred")
                img(src="/images/photos/lw3-fringe-2015-ari.jpg", alt="Didi Panache")
                img(src="/images/photos/didi.jpg", alt="Didi Panache")
                img(src="/images/photos/makeuptips.jpg", alt="Lady Winifred and Didi")
                img(src="/images/photos/pizza-joint.jpg", alt="Didi Panache")
                img(src="/images/photos/poster.jpg", alt="Lady Winifred and Didi")

        .animated-divider
        .wrapper.has-video
            .hero
                .video
                    iframe(src='https://www.youtube.com/embed/ds42gPW0exQ?rel=0&amp;showinfo=0', frameborder='0', allowfullscreen)
                .description A foul-mouthed force. Like seeing Martin and Lewis if Dean was a sexy, seven foot torch singer and Jerry a stroke survivor. Quick-witted improv. Merrily musical. Racially offensive. Totally tasteless.
        #news
            .wrapper
                .news-bubble-col
                    .news-bubble "Thanks to everyone that came out to see us at the New York International Fringe Festival! Take a look at our most recent
                        a(href='http://nytheaternow.com/Content/Article/2015-8-18-the-lady-winifred--didi-show', target='_blank') New York theater review!"
                        .news-signature &mdash; Lady Winifred
                        .news-bubble-triangle
                .news-photo-col
                    .news-photo
                        img(src='/images/photos/winifred.jpg', alt="Lady Winifred")
        #showtimes
            .wrapper
                .showtimes-poster
                    img(src='/images/photos/nyc-fringe-poster.jpg', alt="Lady Winifred Fringe Poster")
                .showtimes-schedule
                    h2.showtimes-venue venue #6: drom
                    ul.showtimes-listing
                        li.past Sat 8/15 - 8:15pm
                        li.past Wed 8/19 - 3:15pm
                        li.past Sat 8/22 - 4:00pm
                        li.past Tue 8/25 - 5:00pm
                        li.past Fri 8/28 - 9:15pm
                    .cta
                        a(href="http://www.fringenyc.org/basic_page.php?ltr=L", target="_blank")
                            button Buy Tickets
                    .cta-comps
                        a(href="mailto:deweychaffee@gmail.com?subject=Industry Comp Request") For industry / media comps
    footer
        .wrapper
            ul.social-links
                li
                    a.facebook(href='https://www.facebook.com/theladywinifredanddidishow', target='_blank')
                        svg.icon.facebook
                            use(xlink:href='#facebook')
                li
                    a.twitter(href='https://twitter.com/WinifredandDidi', target='_blank')
                        svg.icon.twitter
                            use(xlink:href='#twitter')
                li
                    a.instagram(href='https://instagram.com/ladywinifredanddidi', target='_blank')
                        svg.icon.instagram
                            use(xlink:href='#instagram')
            .credit Made with
                span &hearts;
                | by
                a.link(href="http://www.codepalette.com", target="_blank") Code Palette

    a(href="#top", class="top")
        span.hidden-visually Top
