@import "variables"
@import "back_to_top_btn"

html
  box-sizing border-box
  font-size 16px

*, *:before, *:after
  box-sizing inherit

body
  display flex
  font-family "Oswald", sans-serif
  font-weight 300
  min-height 100vh
  flex-direction column

.svg-paths-container
  display none

header
  background url("/images/dark_embroidery.png") repeat

.wrapper
  @media screen and (min-width: $desktop_start)
    margin 0 auto
    padding-bottom 70px
    padding-top 70px
    width 1024px

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    padding 50px
    width 100%

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    padding 30px
    width 100%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    padding 15px
    width 100%
  
nav
  align-items center
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  text-align center
  width 100%

  a
    color $orange
    text-decoration none

    &:hover
      color white

  span
    display inline-block
    font-size 1.5rem
    text-transform uppercase
    width 16%

.logo
  display inline-block
  width 350px

.animated-divider
  border-bottom 7px solid
  border-color white
  width 0

main
  flex 1

.photos
  height 233px
  overflow hidden
  width 100%

/* INFINITE PHOTO BANNER: http://designshack.net/articles/css/infinitephotobanner
----------------------------------------------------- */
.photo-banner
  width 3850px

  img:first-child
    animation bannermove 30s linear infinite

@keyframes bannermove
  0%
    margin-left 0
  100%
    margin-left -3850px

/* END OF PHOTO BANNER
----------------------------------------------------- */

.hero
  display table

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.video, .description
  display table-cell

  @media screen and (min-width: 0) and (max-width: $tablet_l_end)
    display block

.video
  text-align center
  width 640px

  @media screen and (min-width: 0) and (max-width: $tablet_l_end)
    width auto
    padding-bottom 30px
    padding-top 0

iframe
  border-radius 6px

.description
  color $dove_gray
  font-size 1.8rem
  line-height 1.85
  padding-left 50px
  vertical-align middle

  @media screen and (min-width: 0) and (max-width: $tablet_l_end)
    padding 0 20px

#news
  background $light_gray
  display table
  width 100%

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.news-bubble-col, .news-photo-col
  display table-cell

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.news-bubble-col
  vertical-align middle
  width 60%

.news-bubble
  background $dove_gray
  border-radius 6px
  color white
  font-size 1.82rem
  line-height 1.85
  margin-right 50px
  padding 40px 40px 40px 74px
  position relative
  vertical-align middle

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.5rem
    padding 20px 20px 20px 45px

  &:before
    content '\201C'
    font-family Georgia, serif
    position absolute
    opacity .25
    top 25px
    left 8px
    font-size 145px
    line-height 1
    color white

    @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
      font-size 90px
      top 10px

.news-signature
  font-family "Rochester", cursive
  font-size 2.5rem
  text-align right

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.6rem

.news-bubble-triangle
  width 0
  height 0
  border-style solid
  border-width 20px 0 20px 45px
  border-color transparent transparent transparent $dove_gray
  position absolute
  top 70px
  right -45px

.news-photo-col
  vertical-align middle

.news-photo
  border-radius 50%
  height 406px
  margin 0 auto

  img
    border-radius 50%
    border 7px solid $emperor
    width 100%

#showtimes
  background url("/images/dark_embroidery.png") repeat
  display table
  width 100%

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.showtimes-poster, .showtimes-schedule
  display table-cell

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.showtimes-poster
  text-align center
  transform rotate(-6deg)
  width 630px

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    width 55%

  img
    border-radius 6px
    border 6px solid white
    display inline-block
    position relative
    left -25px

    @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
      left -7px
      width 80%

.showtimes-schedule
  color white
  font-size 2.6rem
  vertical-align middle

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.77rem
    padding-left 8%

.showtimes-venue
  font-size 3.2rem
  margin-bottom 10px
  margin-top 0
  text-transform uppercase

  @media screen and (min-width: 0) and (max-width: $tablet_l_end)
    font-size 2.2rem

.showtimes-listing
  margin-top 15px

  li
    font-weight 400
    margin-top 15px

button
  background $orange
  border-radius 6px
  border none
  color white
  font-weight 700
  letter-spacing 2px
  padding 15px 60px
  transition background 500ms cubic-bezier(.19,1,.22,1) 0ms

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    padding-right 45px
    padding-left 45px

  &:hover
    background $dark_orange

.cta
  text-align center

  a
    display inline-block

.cta-comps
  text-align center

  a
    color white
    font-size 1rem
    padding-bottom 4px
    text-decoration none
    transition border-bottom 500ms cubic-bezier(.19,1,.22,1) 0ms

    &:hover
      border-bottom 2px solid $orange

footer
  background $orange
  flex none

  .wrapper
    padding-bottom 15px
    padding-top 15px

.social-links
  padding-left 0
  text-align center

  li
    display inline-block
    list-style none
    margin 0 10px

  a
    display block
    height 46px
    padding 10px
    width 46px

.icon
  display block
  transition fill 500ms cubic-bezier(.19,1,.22,1) 0ms
  height 100%
  width 100%
  fill white

  &:hover
    fill $limed_spruce

.credit
  color white
  font-size .85rem
  letter-spacing .28px
  text-align center

  span
    color $scarlet
    font-size 1.2rem
    margin-right 6px
    margin-left 6px

  .link
    color white
    margin-left 6px
    text-decoration none
    transition color 500ms cubic-bezier(.19,1,.22,1) 0ms

    &:hover
      color $limed_spruce
