@import "variables"
@import "back_to_top_btn"

html
  box-sizing border-box
  font-size 16px

*, *:before, *:after
  box-sizing inherit

body
  display flex
  font-family "Oswald", sans-serif
  font-weight 300
  min-height 100vh
  flex-direction column

.svg-paths-container
  display none

header
  /* To edit this gradient: http://colorzilla.com/gradient-editor/#b0abe3+0,8282be+0,46427f+50,8282be+100 */
  background linear-gradient(to right, rgba(176,171,227,1) 0%, rgba(130,130,190,1) 0%, rgba(70,66,127,1) 50%, rgba(130,130,190,1) 100%)

  .wrapper
    padding-bottom 30px
    padding-top 30px

.wrapper
  @media screen and (min-width: $desktop_start)
    margin 0 auto
    padding-bottom 70px
    padding-top 70px
    width 1024px

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_l_end)
    padding 50px
    width 100%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    padding 40px 20px
    width 100%

    &.has-video
        padding-left 0
        padding-right 0

nav
  align-items center
  flex-direction row
  flex-wrap wrap
  justify-content space-between
  text-align center
  width 100%

  a
    color $light_pink
    text-decoration none

    &:hover
      color white

  span
    display inline-block
    font-size 1.5rem
    padding-bottom 15px
    text-transform uppercase
    width 16.25%

    @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
      font-size 1.2rem
      width 17.5%

    @media screen and (min-width: 0) and (max-width: $mobile_end)
      display block
      text-align center
      width 100%

      &:last-child
        padding-bottom 0

.logo
  width 25%

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    width 30%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    height 350px
    width 100%

  img
    width 100%

    @media screen and (min-width: 0) and (max-width: $mobile_end)
      height 100%
      width auto

.animated-divider
  border-bottom 7px solid
  border-color white
  width 0

main
  flex 1

.photos
  height 233px
  overflow hidden
  width 100%

/* INFINITE PHOTO BANNER: http://designshack.net/articles/css/infinitephotobanner
----------------------------------------------------- */
.photo-banner
  width 10150px

  img:first-child
    animation bannermove 40s linear infinite

@keyframes bannermove
  0%
    margin-left 0
  100%
    margin-left -10000px

/* END OF PHOTO BANNER
----------------------------------------------------- */

.video
  text-align center

iframe
  border-radius 6px

  @media screen and (min-width: 0) and (max-width: $mobile_end)
      border-radius 0

.description
  color $dove_gray
  font-size 2.1rem
  line-height 1.85
  margin-top 40px
  text-align center
  vertical-align middle

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    font-size 1.7rem

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    font-size 1.5rem
    margin-top 30px
    padding-left 20px
    padding-right 20px

#news
  background $light_gray
  display table
  width 100%

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.news-bubble-col, .news-photo-col
  display table-cell

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block
    width 100%

.news-bubble-col
  vertical-align middle
  width 60%

  a
    color white
    margin-left 7px

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    width 100%

.news-bubble
  background $purple
  border-radius 6px
  color white
  font-size 1.82rem
  line-height 1.85
  margin-right 50px
  padding 40px 40px 40px 74px
  position relative
  vertical-align middle

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.5rem
    padding 20px 20px 20px 45px

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    font-size 1.5rem
    padding 20px 20px 20px 45px
    margin-bottom 50px
    margin-right 0

  &:before
    content '\201C'
    font-family Georgia, serif
    position absolute
    opacity .25
    top 25px
    left 8px
    font-size 145px
    line-height 1
    color white

    @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
      font-size 90px
      top 10px

    @media screen and (min-width: 0) and (max-width: $tablet_p_end)
      font-size 94px
      top 14px

.news-signature
  font-family "Rochester", cursive
  font-size 2.5rem
  text-align right

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.6rem

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    font-size 1.8rem

.news-bubble-triangle
  width 0
  height 0
  border-style solid
  border-width 20px 0 20px 45px
  border-color transparent transparent transparent $purple
  position absolute
  top 70px
  right -43px

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
      border-color $purple transparent transparent transparent
      border-width 45px 20px 0 20px
      top 99%
      right 30%

.news-photo-col
  vertical-align top

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    width 100%

.news-photo
  border-radius 50%
  margin 0 auto

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    height auto

  img
    border-radius 50%
    border 7px solid $purple
    width 100%

    @media screen and (min-width: 0) and (max-width: $tablet_p_end)
      display block
      margin 0 auto
      width 60%

/* PERISCOPE
----------------------------------------------------- */

.periscope-ad
    text-decoration none

    img
        border-top-left-radius 6px
        border-top-right-radius 6px
        width 100%

.periscope-schedule
  color white
  font-size 1.5rem
  position relative
  text-decoration none
  top -8px

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    text-align center

.periscope-day
  display table
  height 100px
  transition background-color 500ms cubic-bezier(.19,1,.22,1) 0ms
  width 100%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    height auto

  &:nth-child(odd)
    background-color $light_gray
    color $dove_gray

    &:hover
      background-color $med_gray

  &:nth-child(even)
    background-color $violet_red

    &:hover
      background-color $light_pink

  &:last-child
    border-bottom-left-radius 6px
    border-bottom-right-radius 6px

.periscope-time
  display table-cell
  padding-left 25px
  padding-right 25px
  vertical-align middle
  width 40%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    display block
    padding-bottom 20px
    padding-top 25px
    width 100%

.periscope-description
  display table-cell
  padding-left 25px
  padding-right 25px
  vertical-align middle
  width 60%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    display block
    padding-bottom 25px
    width 100%

.periscope-detail
  text-transform uppercase

  &.small
    font-size 1rem


/* TICKETS
----------------------------------------------------- */

#tickets
  background url("/images/dark_embroidery.png") repeat
  display table
  width 100%

  @media screen and (min-width: 0) and (max-width: $tablet_p_end)
    display block

.tickets-poster, .tickets-schedule
  display table-cell

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    display block

.tickets-poster
  text-align center
  transform rotate(-6deg)
  width 630px

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_l_end)
    width 55%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    padding-bottom 50px
    padding-top 25px
    width 95%

  img
    border-radius 6px
    border 6px solid white
    display block
    margin 0 auto
    position relative

    @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_l_end)
      left -7px
      width 80%

    @media screen and (min-width: 0) and (max-width: $mobile_end)
      width 90%

.tickets-schedule
  color white
  font-size 2.5rem
  text-align center
  vertical-align middle

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 1.77rem
    padding-left 8%

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    font-size 1.4rem
    padding-left 3%

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    font-size 2.1rem
    margin 0 auto
    padding-left 0
    width 100%

.tickets-venue
  font-size 3.2rem
  margin-bottom 10px
  margin-top 0
  text-transform uppercase

  a
    color white
    display inline-block
    margin-left 12px
    text-decoration none
    transition border-bottom 500ms cubic-bezier(.19,1,.22,1) 0ms

    &:hover
      border-bottom 2px solid $light_pink

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    font-size 2.2rem

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    font-size 1.9rem

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    font-size 2.4rem
    text-align center

.tickets-listing
  list-style-position inside
  margin-top 15px
  padding-left 0

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    list-style-type none

  li
    font-weight 400
    margin-top 15px

  .past
    text-decoration line-through

.cta
    text-align center

    a
        display block

button
  background-color $violet_red
  border-radius 6px
  border none
  color white
  font-weight 700
  letter-spacing 2px
  padding 15px 60px
  transition background 500ms cubic-bezier(.19,1,.22,1) 0ms

  @media screen and (min-width: $tablet_l_start) and (max-width: $tablet_l_end)
    padding-right 45px
    padding-left 45px

  @media screen and (min-width: $tablet_p_start) and (max-width: $tablet_p_end)
    padding-right 40px
    padding-left 40px

  @media screen and (min-width: 0) and (max-width: $mobile_end)
    padding-right 0
    padding-left 0
    width 100%

  &:hover
    background $light_pink

.cta-note
  font-size 1rem
  margin-top 10px

.cta-comps
  text-align center

  a
    color white
    display inline-block
    font-size 1rem
    padding-bottom 4px
    text-decoration none
    transition border-bottom 500ms cubic-bezier(.19,1,.22,1) 0ms

    @media screen and (min-width: 0) and (max-width: $mobile_end)
      margin-top 30px

    &:hover
      border-bottom 2px solid $light_pink

footer
  background $violet_red
  flex none

  .wrapper
    padding-bottom 15px
    padding-top 15px

.social-links
  padding-left 0
  text-align center

  li
    display inline-block
    list-style none
    margin 0 10px

  a
    display block
    height 46px
    padding 10px
    width 46px

.icon
  display block
  transition fill 500ms cubic-bezier(.19,1,.22,1) 0ms
  height 100%
  width 100%
  fill white

  &:hover
    fill $limed_spruce

.credit
  color white
  font-size .85rem
  letter-spacing .28px
  text-align center

  span
    color rgba($med_gray, .8)
    font-size 1.2rem
    margin-right 6px
    margin-left 6px

  .link
    color white
    margin-left 6px
    text-decoration none
    transition color 500ms cubic-bezier(.19,1,.22,1) 0ms

    &:hover
      color $limed_spruce
