.top {
  height: 44px;
  width: 44px;
  position: fixed;
  bottom: 38px;
  right: 15px;
  z-index: 900;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
  border-radius: 50%;
  background: rgba(188,189,192,0.8) url("/images/top-arrow.svg") no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.top.is-visible {
  transition: opacity 0.3s 0s, visibility 0s 0s;
  visibility: visible;
  opacity: 1;
}
@media only screen and (min-width: 1044px) {
  .top {
    height: 50px;
    width: 50px;
    right: 30px;
    bottom: 35px;
  }
}
.hidden-visually {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
html {
  box-sizing: border-box;
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  min-height: 100vh;
  flex-direction: column;
}
.svg-paths-container {
  display: none;
}
header {
  background: url("/images/dark_embroidery.png") repeat;
}
@media screen and (min-width: 1025px) {
  .wrapper {
    margin: 0 auto;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 1024px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px) {
  .wrapper {
    padding: 50px;
    width: 100%;
  }
}
@media screen and (min-width: 0) and (max-width: 599px) {
  .wrapper {
    padding: 40px 20px;
    width: 100%;
  }
}
nav {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}
nav a {
  color: #f89100;
  text-decoration: none;
}
nav a:hover {
  color: #fff;
}
nav span {
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  width: 16%;
}
.logo {
  display: inline-block;
  width: 350px;
}
.animated-divider {
  border-bottom: 7px solid;
  border-color: #fff;
  width: 0;
}
main {
  flex: 1;
}
.photos {
  height: 233px;
  overflow: hidden;
  width: 100%;
}
/* INFINITE PHOTO BANNER: http://designshack.net/articles/css/infinitephotobanner
----------------------------------------------------- */
.photo-banner {
  width: 3850px;
}
.photo-banner img:first-child {
  animation: bannermove 30s linear infinite;
}
/* END OF PHOTO BANNER
----------------------------------------------------- */
.hero {
  display: table;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .hero {
    display: block;
  }
}
.video,
.description {
  display: table-cell;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .video,
  .description {
    display: block;
  }
}
.video {
  text-align: center;
  width: 640px;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .video {
    width: auto;
    padding-bottom: 30px;
    padding-top: 0;
  }
}
iframe {
  border-radius: 6px;
}
.description {
  color: #666;
  font-size: 1.8rem;
  line-height: 1.85;
  padding-left: 50px;
  vertical-align: middle;
}
@media screen and (min-width: 0) and (max-width: 1024px) {
  .description {
    padding: 0 20px;
  }
}
#news {
  background: #dcdcdc;
  display: table;
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  #news {
    display: block;
  }
}
.news-bubble-col,
.news-photo-col {
  display: table-cell;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-bubble-col,
  .news-photo-col {
    display: block;
    width: 100%;
  }
}
.news-bubble-col {
  vertical-align: middle;
  width: 60%;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-bubble-col {
    width: 100%;
  }
}
.news-bubble {
  background: #666;
  border-radius: 6px;
  color: #fff;
  font-size: 1.82rem;
  line-height: 1.85;
  margin-right: 50px;
  padding: 40px 40px 40px 74px;
  position: relative;
  vertical-align: middle;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .news-bubble {
    font-size: 1.5rem;
    padding: 20px 20px 20px 45px;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-bubble {
    margin-right: 0;
  }
}
.news-bubble:before {
  content: '\201C';
  font-family: Georgia, serif;
  position: absolute;
  opacity: 0.25;
  top: 25px;
  left: 8px;
  font-size: 145px;
  line-height: 1;
  color: #fff;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .news-bubble:before {
    font-size: 90px;
    top: 10px;
  }
}
.news-signature {
  font-family: "Rochester", cursive;
  font-size: 2.5rem;
  text-align: right;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .news-signature {
    font-size: 1.6rem;
  }
}
.news-bubble-triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 45px;
  border-color: transparent transparent transparent #666;
  position: absolute;
  top: 70px;
  right: -45px;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-bubble-triangle {
    display: none;
  }
}
.news-photo-col {
  vertical-align: middle;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-photo-col {
    width: 100%;
  }
}
.news-photo {
  border-radius: 50%;
  height: 406px;
  margin: 0 auto;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-photo {
    height: auto;
  }
}
.news-photo img {
  border-radius: 50%;
  border: 7px solid #4f4f4f;
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .news-photo img {
    width: 60%;
  }
}
#showtimes {
  background: url("/images/dark_embroidery.png") repeat;
  display: table;
  width: 100%;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  #showtimes {
    display: block;
  }
}
.showtimes-poster,
.showtimes-schedule {
  display: table-cell;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .showtimes-poster,
  .showtimes-schedule {
    display: block;
  }
}
.showtimes-poster {
  text-align: center;
  transform: rotate(-6deg);
  width: 630px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .showtimes-poster {
    width: 55%;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .showtimes-poster {
    padding-bottom: 50px;
    padding-top: 25px;
    width: 100%;
  }
}
.showtimes-poster img {
  border-radius: 6px;
  border: 6px solid #fff;
  display: inline-block;
  position: relative;
  left: -25px;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .showtimes-poster img {
    left: -7px;
    width: 80%;
  }
}
.showtimes-schedule {
  color: #fff;
  font-size: 2.6rem;
  vertical-align: middle;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .showtimes-schedule {
    font-size: 1.77rem;
    padding-left: 8%;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .showtimes-schedule {
    margin: 0 auto;
    text-align: center;
  }
}
.showtimes-venue {
  font-size: 3.2rem;
  margin-bottom: 10px;
  margin-top: 0;
  text-transform: uppercase;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .showtimes-venue {
    font-size: 2.2rem;
  }
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .showtimes-venue {
    font-size: 3rem;
    text-align: center;
  }
}
.showtimes-listing {
  margin-top: 15px;
  padding-left: 0;
}
@media screen and (min-width: 0) and (max-width: 768px) {
  .showtimes-listing {
    list-style-position: inside;
  }
}
.showtimes-listing li {
  font-weight: 400;
  margin-top: 15px;
}
button {
  background: #f89100;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 15px 60px;
  transition: background 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  button {
    padding-right: 45px;
    padding-left: 45px;
  }
}
button:hover {
  background: #f06f06;
}
.cta {
  text-align: center;
}
.cta a {
  display: inline-block;
}
.cta-comps {
  text-align: center;
}
.cta-comps a {
  color: #fff;
  font-size: 1rem;
  padding-bottom: 4px;
  text-decoration: none;
  transition: border-bottom 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.cta-comps a:hover {
  border-bottom: 2px solid #f89100;
}
footer {
  background: #f89100;
  flex: none;
}
footer .wrapper {
  padding-bottom: 15px;
  padding-top: 15px;
}
.social-links {
  padding-left: 0;
  text-align: center;
}
.social-links li {
  display: inline-block;
  list-style: none;
  margin: 0 10px;
}
.social-links a {
  display: block;
  height: 46px;
  padding: 10px;
  width: 46px;
}
.icon {
  display: block;
  transition: fill 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
  height: 100%;
  width: 100%;
  fill: #fff;
}
.icon:hover {
  fill: #3c4651;
}
.credit {
  color: #fff;
  font-size: 0.85rem;
  letter-spacing: 0.28px;
  text-align: center;
}
.credit span {
  color: #e42400;
  font-size: 1.2rem;
  margin-right: 6px;
  margin-left: 6px;
}
.credit .link {
  color: #fff;
  margin-left: 6px;
  text-decoration: none;
  transition: color 500ms cubic-bezier(0.19, 1, 0.22, 1) 0ms;
}
.credit .link:hover {
  color: #3c4651;
}
@-moz-keyframes bannermove {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3850px;
  }
}
@-webkit-keyframes bannermove {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3850px;
  }
}
@-o-keyframes bannermove {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3850px;
  }
}
@keyframes bannermove {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -3850px;
  }
}
