/* COLORS
----------------------------------------------------- */
$limed_spruce = #3c4651
$light_gray = #dcdcdc
$med_gray = #bcbdc0
$dove_gray = #666
$purple = #5C5396
$violet_red = #fa439f
$light_pink = #f288b7


/* MEDIA QUERIES
----------------------------------------------------- */
$mobile_end = 599px
$tablet_p_start = 600px
$tablet_p_end = 768px
$tablet_l_start = 769px
$tablet_l_end = 1024px
$desktop_start = 1025px
