/* COLORS
----------------------------------------------------- */
$orange = #f89100 //rgba(248, 145, 0, 100)
$dark_orange = #cc7e11
$limed_spruce = #3c4651
$light_gray = #dcdcdc
$dove_gray = #666
$emperor = #4f4f4f
$radical_red= #ff3578