.vip-page

    .logo
        &:hover, &:focus
            background url('/images/logo-white.svg') no-repeat center bottom

        a
            display block
            height 100%

    .coming-soon
        width 100%
